.article {
	background: var(--gray-800);
  padding: 2.5rem;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author strong {
  line-height: 1.6rem;
  color: var(--gray-100);
  display: block;
}

.author span, time {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--gray-400);
}

.post p {
  margin-bottom: 2rem;
  color: var(--gray-400);
}

.post p > span, span {
  font-weight: bold;
  color: var(--green-300);
}

footer {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
  padding-top: 1.5rem;
}

textarea {
  width: 100%;
  height: 6rem;
  padding: 0.8rem 1rem;
  margin: 1rem 0;

  background: var(--gray-900);
  color: var(--green-100);
  border-radius: 8px;
  resize: none;
  border: none;
  outline: none;
}

textarea:focus-within {
  outline: 1px solid var(--green-300); 
}

textarea:focus-within + button {
  visibility: hidden;
  max-height: 0;
}

button[type=submit] {
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 1rem 1.5rem 0.875rem;

  background: var(--green-500);
  color: var(--white);
}
