.article {
	background: var(--gray-800);
  padding: 2.5rem;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author strong {
  line-height: 1.6rem;
  color: var(--gray-100);
  display: block;
}

.author span, time {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--gray-400);
}

.post p {
  margin-bottom: 2rem;
  color: var(--gray-400);
}

.post p > span, span {
  font-weight: bold;
  color: var(--green-300);
}

footer {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
  padding-top: 1.5rem;
}
